/* Beginning declaration to set the margins, padding, and box sizing to the below. It is for convenience */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting the global font for the whole page. */

body {
    font-family: 'Roboto', sans-serif;
}

/* Setting the width of the top level flex containers so that they occupy the whole screen width */

.topp,
.infot,
.amfestob,
.csmb,
.footer {
    width: 100vw;
}

/* Setting the second level containers width to 75% of the total width */

.header,
.hero,
.info,
.amfesto,
.csm {
    width: 75vw;
}

/* The header declarations */
/* The header begins */

.topp {
    background-color: #1f2937;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* row 1 of the header begins */

.header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    display: flex;
    gap: 32px;
}

.right a:link, .right a:visited {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.right a:hover, .right a:active {
    color: #E5E7EB;
    text-decoration: underline;
    font-size: 18px;
}

/* row 2 of the header begins */

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 144px;
}

.lefth {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.mage img {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 8px;
    border-color: #F9FAF8;
    border-width: 1px;
}

button a:link, button a:visited {
    color: #E5E7EB;
    text-decoration: none;
}

button a:hover, button a:active {
    color: #E5E7EB;
    text-decoration: underline;
}

.ht {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8 ;
}

.hlt {
    font-size: 18px;
    color: #E5E7EB;
}

/* The information box declarations */
/* The info box begins */

.infot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infohead {
    display: flex;
    padding: 24px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info {
    display: flex;
    padding: 24px;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 160px;
}

.box img {
    width: 160px;
    height: auto;
    border-radius: 10px;
    border: 5px solid, chartreuse;
}

.subt {
    text-align: center;
}

/* Artist Manifesto begins! */

.amfestob {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.amfesto {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    height: 30vh;
    width: 75vw;
    justify-content: center;
}

.festo {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.me {
    display: flex;
    margin-left: auto;
}

/* Fundraising starts */

.csmb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.csm {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    background-color: #3882F6;
    border-radius: 15px;
    align-items: baseline;
    padding: 24px;
}

.supp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hcsm {
    color: #F9FAF8;
    font-size: 24px;
}

.lcsm {
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}